<div style="width: 60%; margin-top: 5%;margin-left: 20%; ">
<table class="table table-striped">
  <thead>
  <tr>
  	 <th>Employee Id</th>
     <th>Employee Name</th>
     <th>Email</th>
     <th>Phone</th>
  </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody *ngFor="let employee of employees;">
  <tr>
  	 <td><a (click)="getEmployee(employee.employeeId)">{{employee.employeeId}}</a></td>
     <td>{{employee.name}}</td>
     <td>{{employee.email}}</td>
     <td>{{employee.phone}}</td>
  </tr>  
  </tbody>
</table>

</div>

<div *ngIf="showdelete" class="overlay">
  <strong>{{anyEmployee.name}}</strong><br/>
  {{anyEmployee.email}}<br/>
  
  <address>
  {{anyEmployee.street}}<br/>
  {{anyEmployee.apt}}<br/>
  {{anyEmployee.city}}
  {{anyEmployee.state}}
  {{anyEmployee.zip}}<br/>
  {{anyEmployee.country}}<br/>
  </address>
  
  <abbr title="Phone">P:</abbr>{{anyEmployee.phone}}
</div>