<div style="width: 60%; margin-top: 5%;margin-left: 20%; ">
<table class="table table-striped">
  <thead>
  <tr>
  	 <th>Employee Id</th>
     <th>Employee Name</th>
     <th>Email</th>
     <th>Phone</th>
  </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody *ngFor="let employee of employees; let i=index ">
  <tr>
  	 <td><a (click)="getEmployee(employee.employeeId,i.valueOf())">{{employee.employeeId}}</a></td>
     <td>{{employee.name}}</td>
     <td>{{employee.email}}</td>
     <td>{{employee.phone}}</td>
  </tr>  
  </tbody>
</table>

</div>

<div *ngIf="showdelete" class="overlay">

<div style="margin-left: 10%; margin-top: 5%">

  <strong>{{anyEmployee.name}}</strong><br/>
  {{anyEmployee.email}}<br/><br/>
  
  <address>
  {{anyEmployee.street}}<br/>
  {{anyEmployee.apt}}<br/>
  {{anyEmployee.city}}
  {{anyEmployee.state}}
  {{anyEmployee.zip}}<br/>
  {{anyEmployee.country}}<br/>
  </address>
  
  <abbr title="Phone">P:</abbr>{{anyEmployee.phone}}
  </div>
  <div style="margin-left:75%; margin-top:10%; position: relative;"> 
  <span>
  <button (click)="deleteEmployee(anyEmployee.employeeId)" class="btn btn-primary btn-sm">Edit....</button>
  </span>
  
  <span>
  <button (click)="deleteEmployee(anyEmployee.employeeId)" class="btn btn-primary btn-sm">delete</button>
  </span>
 </div>
  
</div>