.overlay
 {
     position: absolute;
     top: 15%;
     left: 30%;
     right: 30%;
     bottom: 20%;
     width: 40%;
     height:50%;
     background-color: rgba(245, 245, 233, 0.98);
     z-index: 9999;
     color: white;
     display: block;
     opacity: 1.0;
     text-align: left;
     color: #27693c;
     border: 5px solid beige;
     
     
 }